

.email-contaimer{
    background: url("../../../Images/email.jpg");
    background-color: rgba(14, 159, 212, 0.931);
    background-blend-mode: darken, luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(39, 38, 38); */
    padding: 8% 0;
}
.form-container{
    background-color: rgb(24, 22, 22);
    border-radius: 15px;
    padding: 40px;
    width: 50%;
    margin: auto;
}
.form-container .success-message{
    color: rgb(57, 57, 238);
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.form-container h1{
    font-family: 'cursive';
}
.form-container label{
    color: rgb(235, 177, 177);
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.form-container input, textarea{
    border: none;
    padding: 10px;
    width: 80%;
    /* font-family: 'cursive'; */
}
.form-container textarea{
   height: 138px;
   width: 100%;

}
.form-container button{
   background-color: rgb(35, 32, 41);
   color: white;
   border: none;
   border-radius: 10px;
   padding: 13px 50px;
   font-size: 18px;
   font-family: Verdana, Arial, Helvetica, sans-serif;

}

@media only screen and (max-width:550px) {
    .form-container{
        width: 90%;
    }
    .form-container input, textarea{
        width: 100%;
    }
    .form-container label{
        margin-top: 20px;
    }
}