

.being-developer{
    background-color: #6a6077;
    color: white;
    padding-top: 8% ;
    padding-bottom: 8%;
    font-family: "cursive";
}
.being-developer div{
    width: 30%;
    margin: 0 auto;
}
.being-developer div p{
    font-size: 20px;
}

@media only screen and (max-width:550px) {
    .being-developer{
        padding-top: 6rem ;
        padding-bottom: 6rem;
    }
    .being-developer div{
        width: 80%;
    } 
    .being-developer div h2 {
        font-size: 40px;
    }
    .being-developer div p{
        font-size: 25px;
    }
}