
.about{
    background-color: rgb(230, 230, 230);
    padding: 60px;
}
.about-container{
    width: 70%;
    margin: auto;
}
.about-detail{
    padding-top: 13rem;
}
.about-detail h1{
    font-family: "fangsong";
}
.banner-detail a{
    margin-top: 20px;
}

@media only screen and (max-width:550px) {
    .about-container{
        width: 95%;
    }
    .about-detail{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}